/* src/routes/Page404.css */

.notfound-wrapper {
  position: relative;
  height: 100vh;
  background: #030005;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound {
  text-align: center;
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
}

.notfound .notfound-404 h1 {
  font-size: 160px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 20px #ff005a;
}

.notfound h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.notfound p {
  color: #c2c2c2;
  margin-bottom: 20px;
}

.notfound a {
  display: inline-block;
  padding: 10px 25px;
  background: #ff005a;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

.notfound a:hover {
  background: #e60050;
}
