@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
*{
  font-family: 'Pretendard';
  text-align: center;
}

.main-bg{
  height: 500px;
  background-size: cover;
  background-position: center;
}

.main-bg video{
  height: 100%;
}

.main-text{
  width: 100%;
  height: 400px;
  padding: 50px;
}

.main-text h4{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.main-text p{
  text-align: center;
  font-size: 35px;
  position: absolute;
  font-weight:700;
  bottom: -125px;
  left: 50%;
  transform: translateX(-50%);
}

.itemTitle{
  font-size: 18px;
  text-align: center;
  padding: 5px;
  width: 350px;
  justify-self: center;
  color: black;
  font-weight: 600;
}

.itemImg{
  display: flex;
  justify-self: center;
  border-radius: 10px;
}

.itemPrice{
  display: flex;
  justify-self: center;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: opacity 0.5s;
}

